### NoSQL Database - MongoDB

#### Install pymongo

In [2]:
!pip install pymongo[srv]

Collecting pymongo[srv]
  Downloading pymongo-4.0.1-cp38-cp38-win_amd64.whl (354 kB)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.0-py3-none-any.whl (266 kB)
Installing collected packages: pymongo, dnspython
Successfully installed dnspython-2.2.0 pymongo-4.0.1

#### Import pymongo

In [3]:
import pymongo

#### Connection (link from mongodb server)

In [5]:
client = pymongo.MongoClient("mongodb+srv://mongodb:mongodb@cluster0.qjmki.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

In [6]:
print(db)

Database(MongoClient(host=['cluster0-shard-00-00.qjmki.mongodb.net:27017', 'cluster0-shard-00-01.qjmki.mongodb.net:27017', 'cluster0-shard-00-02.qjmki.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-dfmxuz-shard-0', tls=True), 'test')

In [7]:
db1 = client.test1  # no change

In [8]:
db2 = client['sudh']  # no change

#### List databases

In [9]:
client.list_database_names()

['admin', 'local']

#### Create collection (similar to table)

In [10]:
# create table(colection)
col1 = db2['ineuron_collection']

#### Document creation (Insert data)

In [12]:
# document creation (One single record)

dict1 = {
    'name' : 'Athira',
    'email_id' : 'athiramchandran90@gmail.com',
    'product' : ['one neuron' , 'tech neuron', 'kids neuron' ,'drone fleetmatics'],
    'company' : 'ineuron intelligence private limited'
}

In [13]:
col1.insert_one(dict1)

In [15]:
dict2 = {
    'name' : 'Athira',
    'email_id' : 'athiramchandran90@gmail.com',
    'product' : ['one neuron' , 'tech neuron', 'kids neuron' ,'drone fleetmatics'],
    'company' : 'ineuron intelligence private limited',
    'phone_num' : '11112345'
}

In [16]:
col1.insert_one(dict2)

#### Create with your own id

In [21]:
# create our own id else it will automatically created.
# Overwrite id
dict3 = {
    '_id' : 'abcdefgh',
    'name' : 'Athira',
    'email_id' : 'athiramchandran90@gmail.com',
    'product' : ['one neuron' , 'tech neuron', 'kids neuron' ,'drone fleetmatics'],
    'company' : 'ineuron intelligence private limited',
    'phone_num' : '11112345'
}

In [22]:
col1.insert_one(dict3)

#### Duplicate id error

In [23]:

# duplicate id error
dict4 = {
    '_id' : 'abcdefgh',
    'name' : 'Athira',
    'email_id' : 'athiramchandran90@gmail.com',
    'product' : ['one neuron' , 'tech neuron', 'kids neuron' ,'drone fleetmatics'],
    'company' : 'ineuron intelligence private limited',
    'phone_num' : '11112345'
}

In [24]:
col1.insert_one(dict4)

DuplicateKeyError: E11000 duplicate key error collection: sudh.ineuron_collection index: _id_ dup key: { _id: "abcdefgh" }, full error: {'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 'abcdefgh'}, 'errmsg': 'E11000 duplicate key error collection: sudh.ineuron_collection index: _id_ dup key: { _id: "abcdefgh" }'}

#### Insert many

In [25]:
# insert many

list1 = [
    {'name': 'John', 'age': '27', 'sex': 'Male'},
    {'name': 'Marie', 'age': '22', 'sex': 'Female'},
    {'name': 'Luna', 'age': '24', 'sex': 'Female'},
    {'name': 'Peter', 'age': '29', 'sex': 'Male'},
]

In [26]:
col1.insert_many(list1)

#### Fetch data with condition

In [27]:
for i in col1.find({'name' :'John'}):
    print(i)

{'_id': ObjectId('62089f2d0063d7d8a56d49ea'), 'name': 'John', 'age': '27', 'sex': 'Male'}

#### in condition ($in)

In [39]:
for i in col1.find({'name' :{"$in" : ['sudhan' , 'sudh' , 'Luna']}, 'age' : '24'}):
    print(i)

{'_id': ObjectId('62089f2d0063d7d8a56d49ec'), 'name': 'Luna', 'age': '24', 'sex': 'Female'}

In [33]:
for i in col1.find({'name' :{"$in" : ['sudhan' , 'sudh' , 'Luna']}}):
    print(i)

{'_id': ObjectId('62089f2d0063d7d8a56d49ec'), 'name': 'Luna', 'age': '24', 'sex': 'Female'}

### fetch one record

In [36]:
data = col1.find_one()

In [38]:
data

{'_id': ObjectId('62089b370063d7d8a56d49e7'),
 'name': 'Athira',
 'email_id': 'athiramchandran90@gmail.com',
 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'],
 'company': 'ineuron intelligence private limited'}

#### Fetch data with conditions

In [41]:
# check whether we have data or not

for i in col1.find({'age' : {"$gt" : "22"}}):
    print(i)

{'_id': ObjectId('62089f2d0063d7d8a56d49ea'), 'name': 'John', 'age': '27', 'sex': 'Male'}
{'_id': ObjectId('62089f2d0063d7d8a56d49ec'), 'name': 'Luna', 'age': '24', 'sex': 'Female'}
{'_id': ObjectId('62089f2d0063d7d8a56d49ed'), 'name': 'Peter', 'age': '29', 'sex': 'Male'}

In [43]:
for i in col1.find({'age' : {"$lt" : "25"}}):
    print(i)

{'_id': ObjectId('62089f2d0063d7d8a56d49eb'), 'name': 'Marie', 'age': '22', 'sex': 'Female'}
{'_id': ObjectId('62089f2d0063d7d8a56d49ec'), 'name': 'Luna', 'age': '24', 'sex': 'Female'}

#### Update operation ($set)

In [44]:
for i in col1.find():
    print(i)

{'_id': ObjectId('62089b370063d7d8a56d49e7'), 'name': 'Athira', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('62089cbe0063d7d8a56d49e8'), 'name': 'Athira', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_num': '11112345'}
{'_id': ObjectId('62089d370063d7d8a56d49e9'), 'id': 'abcdefgh', 'name': 'Athira', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_num': '11112345'}
{'_id': 'abcdefgh', 'name': 'Athira', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_num': '11112345'}
{'_id': ObjectId('62089f2d0063d7d8a56d49ea'), 'name': 'John', 'age': '27', 'sex': 'Male'}
{'_id': ObjectId('62089f2d0063d7d8a56d49eb'), 'name': 'Marie', 'age': '22', 'sex': 'Female'}
{'_id': ObjectId('62089f2d0063d7d8a56d49ec'), 'name': 'Luna', 'age': '24', 'sex': 'Female'}
{'_id': ObjectId('62089f2d0063d7d8a56d49ed'), 'name': 'Peter', 'age': '29', 'sex': 'Male'}

In [45]:
col1.update_many({"name" : "Athira"} , {"$set" : {"name" : "Athira M "}})

#### Fetch all record

In [46]:
for i in col1.find():
    print(i)

{'_id': ObjectId('62089b370063d7d8a56d49e7'), 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('62089cbe0063d7d8a56d49e8'), 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_num': '11112345'}
{'_id': ObjectId('62089d370063d7d8a56d49e9'), 'id': 'abcdefgh', 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_num': '11112345'}
{'_id': 'abcdefgh', 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_num': '11112345'}
{'_id': ObjectId('62089f2d0063d7d8a56d49ea'), 'name': 'John', 'age': '27', 'sex': 'Male'}
{'_id': ObjectId('62089f2d0063d7d8a56d49eb'), 'name': 'Marie', 'age': '22', 'sex': 'Female'}
{'_id': ObjectId('62089f2d0063d7d8a56d49ec'), 'name': 'Luna', 'age': '24', 'sex': 'Female'}
{'_id': ObjectId('62089f2d0063d7d8a56d49ed'), 'name': 'Peter', 'age': '29', 'sex': 'Male'}

#### Fetch records with limit

In [47]:
for i in col1.find().limit(2):
    print(i)

{'_id': ObjectId('62089b370063d7d8a56d49e7'), 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('62089cbe0063d7d8a56d49e8'), 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_num': '11112345'}

#### $gt - greater than

#### $gte - greater than or equal to

#### $lt - lesser than

#### $lte - lesser than or equal to

In [51]:
for i in col1.find({'age' : {'$not' : {'$gte' :'22'}}}):
    print(i)

{'_id': ObjectId('62089b370063d7d8a56d49e7'), 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('62089cbe0063d7d8a56d49e8'), 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_num': '11112345'}
{'_id': ObjectId('62089d370063d7d8a56d49e9'), 'id': 'abcdefgh', 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_num': '11112345'}
{'_id': 'abcdefgh', 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_num': '11112345'}

#### Update with condition (one data)

In [54]:
col1.find_one_and_update({'name' : 'Athira M '}, {'$set' : {'company' : "myown company"}} )

{'_id': ObjectId('62089b370063d7d8a56d49e7'),
 'name': 'Athira M ',
 'email_id': 'athiramchandran90@gmail.com',
 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'],
 'company': 'ineuron intelligence private limited'}

In [55]:
for i in col1.find():
    print(i)

{'_id': ObjectId('62089b370063d7d8a56d49e7'), 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'myown company'}
{'_id': ObjectId('62089cbe0063d7d8a56d49e8'), 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_num': '11112345'}
{'_id': ObjectId('62089d370063d7d8a56d49e9'), 'id': 'abcdefgh', 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_num': '11112345'}
{'_id': 'abcdefgh', 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_num': '11112345'}
{'_id': ObjectId('62089f2d0063d7d8a56d49ea'), 'name': 'John', 'age': '27', 'sex': 'Male'}
{'_id': ObjectId('62089f2d0063d7d8a56d49eb'), 'name': 'Marie', 'age': '22', 'sex': 'Female'}
{'_id': ObjectId('62089f2d0063d7d8a56d49ec'), 'name': 'Luna', 'age': '24', 'sex': 'Female'}
{'_id': ObjectId('62089f2d0063d7d8a56d49ed'), 'name': 'Peter', 'age': '29', 'sex': 'Male'}

#### Update many records

In [59]:
col1.update_many({'age' : {'$gt' : '25'}}, {'$set' : {'age' : '30'}})

In [60]:
for i in col1.find():
    print(i)

{'_id': ObjectId('62089b370063d7d8a56d49e7'), 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'myown company'}
{'_id': ObjectId('62089cbe0063d7d8a56d49e8'), 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_num': '11112345'}
{'_id': ObjectId('62089d370063d7d8a56d49e9'), 'id': 'abcdefgh', 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_num': '11112345'}
{'_id': 'abcdefgh', 'name': 'Athira M ', 'email_id': 'athiramchandran90@gmail.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_num': '11112345'}
{'_id': ObjectId('62089f2d0063d7d8a56d49ea'), 'name': 'John', 'age': '30', 'sex': 'Male'}
{'_id': ObjectId('62089f2d0063d7d8a56d49eb'), 'name': 'Marie', 'age': '22', 'sex': 'Female'}
{'_id': ObjectId('62089f2d0063d7d8a56d49ec'), 'name': 'Luna', 'age': '24', 'sex': 'Female'}
{'_id': ObjectId('62089f2d0063d7d8a56d49ed'), 'name': 'Peter', 'age': '30', 'sex': 'Male'}

#### Delete many

In [61]:
col1.delete_many({'name': 'Athira M '})

In [62]:
for i in col1.find():
    print(i)

{'_id': ObjectId('62089f2d0063d7d8a56d49ea'), 'name': 'John', 'age': '30', 'sex': 'Male'}
{'_id': ObjectId('62089f2d0063d7d8a56d49eb'), 'name': 'Marie', 'age': '22', 'sex': 'Female'}
{'_id': ObjectId('62089f2d0063d7d8a56d49ec'), 'name': 'Luna', 'age': '24', 'sex': 'Female'}
{'_id': ObjectId('62089f2d0063d7d8a56d49ed'), 'name': 'Peter', 'age': '30', 'sex': 'Male'}

#### Documentation - https://docs.mongodb.com/manual/crud/